extends layout

block content
  .row
    .col-md-6
      .special-card
        .card-body(style='background-color: rgba(255, 255, 255, 0.3);')  
          h5.card-title Join a Game
          form(method='POST' action = '/game/create' style='background-color: rgba(255, 255, 255, 0);')
            button.btn.btn-primaty(type='submit') CREATE GAME
      .container  
        table.table.table-dark.table-hover
          thead
            tr
              th Game ID
              th Join Game
          tbody
            each game in games
              tr
                th #{game.id}
                th
                  form(method='POST' action='game/' + game.id + '/join' style='background-color: rgba(255,255,255,0)')
                    button.btn.btn-primary(type='submit') JOIN GAME

    .col-md-6.float-right
      .card(style='background-color: rgba(255, 255, 255, 0.6);')
        ul#thread(style='width: auto; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
        form#chat
          #user #{user.email}
          input#message(type="text" placeholder="message" style='width:auto;')
          input(type="submit" value="Send")
        script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
        script(src="/socket.io/socket.io.js")
        script(src="js/chat.js")
