extends layout

block content
  .main.container
    .row
      .col-md-6.offset-md-3
        h1.display-4.m-b-2 Login 

        // register form
        form(method='POST' action='/login')
          div.form-group
            input#email.form-control(type='email', placeholder='Email' name='username')
          div.form-group
            input#pw.form-control(type='password', placeholder='Password' name='password')
          button.btn.btn-primary(type='submit') Login
          p.mt-5.mb-3.text-muted &copy; 2018 