extends layout

block content
  .main.container
    .row
      .col-md-6.offset-md-3
        h1.display-4.m-b-2 Sign Up
        h4.m-b-2 SFSU CSC 667 Team F Chess Game
        // register form
        form(method='POST' action='/register')
          div.form-group
            input#email.form-control(type='email' placeholder='Email Address' name='email')
          div.form-group
            input#pw.form-control(type='password' placeholder='Password' name='password')
          div.form-group
            input#pw2.form-control(type='password' placeholder='Confirm Password' name='confirmPassword')
          button.btn.btn-primary(type='submit') Sign up